:root {
  --FontBold: 'SFProDisplayBold';
  --FontRegular: 'SFProDisplayRegular';
  --FontSemiBold: 'SFProDisplaySemiBold';
  --FontLight: 'SFProDisplayLight';
  --transition: all 0.2s ease-in;
}

.stroke-icon {
  position: absolute;
}
.contact-center {
  display: grid;
  /* height: 100vh; */
  width: 100vw;
  height: 100vh;
  /* background: darkgray; */
  /* background: lightcoral; */
  place-items: center;
}

@media (min-width: 850px) {
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 10vh;
    width: 60vw;
    /* margin: 10vh 5% 0vh 5%; */
    /* width: 70%; */
    /* background: darkcyan; */
    /* height: 100%; */
    margin: auto;
  }
}

@media (max-width: 849px) {
  .contact-section {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding-top: 10vh;
    /* margin: 10vh 5% 0vh 5%; */
    /* width: 70%; */
    /* background: darkcyan; */
    /* height: 100%; */
    place-items: center;
    margin: auto;
  }
}

/* CONTACT INFO / LEFT SIDE */
.contactinfo-section {
  /* background: darkcyan; */
  width: fit-content;
  /* padding-top: 5vh; */
  /* background: darkcyan; */
}

.contact-svg {
  /* width: 418px; */
  width: 18rem;
}

.contactinfo-section {
  /* background: darkgoldenrod; */
}

.form-section {
  /* background: darkcyan; */
}
.contact-info {
  margin-top: 25px;
  width: 100%;
  /* background: darkgoldenrod; */
  /* display: grid; */
  /* background: darkmagenta; */
  /* place-items: center; */
}

.contact-info h3 {
  font-family: var(--FontBold);
  font-size: 2rem;
  margin-bottom: 24px;
  /* align-items: center; */
  text-align: center;
}

.info-line {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  /* background: darkgreen; */
  font-family: var(--FontRegular);
  font-size: 1.45rem;
  margin-bottom: 16px;
  /* line-height: 100%; */
}

.info-line span {
}
.contact-icons {
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: red; */
  height: 100%;
  margin-left: 5px;
  /* width: 20px; */
  /* height: 20px; */
  /* line-height: 1; */
}

.info-line h4 {
  /* background: darkkhaki; */
}

.info-line span {
  /* background: darkgoldenrod; */
  /* height: 100%; */
  line-height: 100%;
  /* margin-right: 20px; */
}

/* CONTACT FORM */

.form-section {
  /* background: darkgray; */

  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

.contact-form {
  width: 100%;
  /* background: darkmagenta; */
  display: grid;
  gap: 20px;
  /* place-items: center; */
}

.contact-column {
  /* display: flex; */
  display: grid;
  font-family: var(--FontBold);
  position: relative;
  margin-bottom: 42px;
  height: 3.5rem;
}

.contact-column label {
  position: absolute;
  top: -15%;
  left: 7.5%;
  font-size: 12px;
  background: white;
  padding: 0px 10px 0px 10px;
  /* margin-bottom: 42px; */
}

.contact-column input {
  font-size: 18px;
  padding: 15px;
  border-radius: 8px;
  background: none;
  border: 2px solid black;
  font-family: var(--FontBold);

  width: 90%;
  margin: auto;
}

.contact-label {
}
.contact-input {
}

.contact-button {
  border: none;
  background: #d6d6d6;
  font-family: var(--FontBold);
  font-size: 16px;
  color: white;
  /* padding: 15px; */
  border-radius: 4px;
  height: 3.5rem;
  width: 90%;
  margin: auto;
  transition: var(--transition);
}

.validator {
  background: #000000;
  color: white;
  cursor: pointer;
}
.contact-button svg {
  margin-left: 8px;
  stroke: white;
}

/* message sent */
.form-sent-parent {
  display: grid;
  /* background: darkgray; */
  place-items: center;
  transition: var(--transition);
}

.form-sent {
  display: grid;
  place-items: center;
  align-items: center;
  text-align: center;
  transition: var(--transition);
  /* background: lightblue; */
  /* height: 50%; */
}

.form-sent svg {
  /* background: darkgoldenrod; */
}

.form-message {
  margin-top: 10px;
}

.form-message p {
  font-family: var(--FontSemiBold);
  margin-top: 10px;
  font-size: 1.5rem;
  /* background: darkcyan; */
}
