.outer {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background: white;
  position: fixed;
  z-index: 99999;
  /* scale: 0.2; */
}

.container {
  background: linear-gradient(to right, #000 50%, #f0f0f0 50%);
  background-size: 200% 100%;
  background-position: bottom right;
  transition: all 0.7s ease-out;
  animation: anime 2s forwards;
  clip-path: url(#myClip);
  height: 100%;
  width: 100vw;
  /* margin: auto; */
  /* margin-right: 20vw; */
  /* transform: translateX(-80vw); */

  /* scale: 0.4; */
}

@keyframes anime {
  to {
    background-position: bottom left;
  }
}
