body {
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --FontBold: 'SFProDisplayBold';
  --FontRegular: 'SFProDisplayRegular';
  --FontLight: 'SFProDisplayLight';
  --transition: all 0.2s ease-in;
}

/* 
.nav-parent {
  width: 100%;
  height: 10vh;
  background: white;
}

.nav-download-btn {
  font-family: var(--FontBold);
  font-size: 16px;
  padding: 16px 22px 16px 22px;
  border-radius: 8px;
  border: 2px black;
  background: black;
  color: white;
  
  height: fit-content;
  width: clamp(80, 100%, 80vw);
  display: flex;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}

.nav-desktop {
  display: flex;
  justify-content: space-between;
  background: darkgoldenrod;
  width: 80%;
  margin: auto;

  align-items: center;
  line-height: 100%;
}

.nav-desktop h1 {
  background: red;
}

.nav-links-desktop {
  align-self: center;
} */
.nav-download-btn {
  font-family: var(--FontBold);
  font-size: 16px;
  padding: 16px 22px 16px 22px;
  border-radius: 8px;
  border: 2px black;
  background: black;
  color: white;
  height: fit-content;
  width: clamp(80, 100%, 80vw);
  display: flex;
  align-items: center;
  transition: var(--transition);
  cursor: pointer;
}

.navbar {
  position: absolute;
  width: 100%;
  z-index: 10;
}

@media (max-width: 850px) {
  .navbar {
    transition: var(--transition);
    /* background-color: red; */
  }

  .nav-download-btn {
    text-align: center;
    padding: 16px 34px 16px 34px;
  }

  .nav-logo h1 {
    line-height: 100%;
    /* background: red; */
  }

  .nav-center {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.5fr;
  }

  .nav-header {
    /* background: white; */
    display: flex;
    /* width: 80vw; */

    padding-left: 10vw;
    padding-right: 10vw;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
  }

  .nav-btn-parent {
    position: relative;
    transition: var(--transition);

    /* background: red; */
  }

  .nav-btn {
    background: none;
    border: none;
    cursor: pointer;

    align-items: center;
  }

  .hide {
    display: none;
  }
  .noscroll {
    overflow-y: hidden;
  }
  .show {
    display: block;
  }

  .nav-links {
    display: grid;
    place-content: center;
    cursor: pointer;
    font-family: var(--FontBold);
    background: rgba(255, 255, 255, 0.9);
    transition: var(--transition);
    display: none;
    padding-top: 15vh;
    height: 100vh;
    /* z-index: -90; */
  }

  .hide-links {
    transition: all 1s ease-in;
  }

  .show-links {
    transition: all 1s ease-in;
    display: grid;
    /* z-index: -90; */
  }

  .nav-link {
    margin-bottom: 20px;
    font-size: 24px;
  }

  .resume-link {
    margin-bottom: 00px;
  }

  .nav-links svg {
    margin-right: 5px;
    cursor: pointer;
  }

  .resume-link svg {
    margin-left: 20px;
  }
}

@media (min-width: 850px) {
  .navbar {
    height: 10vh;
    display: grid;
    background: white;
  }

  .nav-center {
    display: flex;
    width: 90vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }

  .nav-link {
    font-family: var(--FontBold);
    text-transform: uppercase;
    font-size: 12px;
    margin-right: 30px;
  }

  .resume-link {
    margin-right: 0px;
  }

  .nav-link svg {
    display: none;
  }

  .resume-link svg {
    display: block;
    margin-left: 10px;
  }

  .nav-btn-parent {
    display: none;
  }

  .nav-logo h1 {
    line-height: 100%;
  }
}
